@font-face {
	font-family: Calibri;
	src: url("../img/Calibri.ttf");
	font-weight: normal;
}
html {
    height: 100%;
}
body {
    overflow: auto;
	margin: 0;
	background: #dbdbdb;
    background: -moz-linear-gradient(left,  #dbdbdb 0%, #f4f4f4 40%, #d6d6d6 100%);
    background: -webkit-linear-gradient(left,  #dbdbdb 0%,#f4f4f4 40%,#d6d6d6 100%);
    background: linear-gradient(to right,  #dbdbdb 0%,#f4f4f4 40%,#d6d6d6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdbdb', endColorstr='#d6d6d6',GradientType=1 );
	padding: 0;
    width: 100%;
    height: 100%;
}
.maincard { 
    position: relative;
    margin: 3% auto 0 auto;
    overflow: hidden;
    width: 29.7cm;
    height: 20cm;
    background: url("../img/bgr.png") top right repeat;
	background-attachment:fixed;
    background-size: 1.2%;
}
.top {
    height: 0cm;
    background-color: #e6e6e6;
}
.header {
    width: 100%;
}
.textheader {
    position: absolute;
    top: 6.5cm;
    left: 0;
    right: 0;
    text-align: center;
    font-family: Calibri;
    font-size: 1.2cm;
    color: #353d3e;
}
.texthead {
    margin-top: -0.5cm;
    text-align: center;
    font-family: Calibri;
    font-size: 1cm;
    color: #353d3e;
}
.texthead0 {
    margin-top: -0.5cm;
    text-align: center;
    font-family: Calibri;
    font-size: 0.9cm;
    color: #353d3e;
}
.username {
    margin-top: 2.5cm;
    text-align: center;
    font-family: Calibri;
    font-size: 1cm;
    color: #657274;
}
.footer {
    margin-top: -0.9cm;
    width: 50em;
    margin-left: 10em;
}
.date {
    background-color: #e6e6e6;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    font-family: Calibri;
    text-align: center;
    margin-top: 1em;
    font-size: 0.7cm;
    color: #353d3e;
}