{% extends 'test_app/base.html' %}

{% block title %}
 Необходимо активировать аккаунт!
{% endblock %}

{% block content %}
 <div class="col-md-12">
                  <div class="box">
                <div class="box-header with-border">
                  <h3 class="box-title">Активируйте ваш email.</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <center>
                  <div class="btn-group" role="group" aria-label="...">
                      Пожалуйста, проверьте вашу почту и активируйте ваш пользователь, перейдя по ссылке из соообщения на почте!
                  </center>
                </div>

            </div>
        </div>
    </div>
{% endblock %}