<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}
        Index
    {% endblock %}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="{% static 'userman/css/bootstrap.min.css' %}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
  <script src="{% static 'userman/plugins/jQuery/jQuery-2.1.4.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'userman/css/AdminLTE.min.css' %}">
  <script type="text/javascript" src="{% static 'userman/js/timer.js' %}"></script>
    <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
          page. However, you can choose any other skin. Make sure you
          apply the skin class to the body tag so the changes take effect.
    -->
    <link rel="stylesheet" href="{% static 'userman/css/skin-yellow.min.css' %}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  <style type="text/css">
    .time {
      color: white;
      padding-left: 20px;
    }
    .timeButton {
      margin-left: 10px;
      margin-top: 10px;
    }
    </style>
  </head>
{#onmousedown="return false;" onclick="return true;"#}
  <body class="hold-transition skin-yellow  sidebar-mini" >

    <div class="wrapper">

      <!-- Main Header -->
      <header class="main-header">

        <!-- Logo -->
        <a href="{% url 'test-app:home' %}" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>МЕЛ</b></span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>МЕЛ</b>ОЛИМПИАДА</span>
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          </a>
          <!-- Navbar Right Menu -->
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!-- Messages: style can be found in dropdown.less-->

              <!-- User Account Menu -->
              {% block navbar %}

{##}
{#                <li class="dropdown user user-menu">#}
{#                <!-- Menu Toggle Button -->#}
{#                <a href="{% url 'test-app:finished' %}">#}
{#                  <!-- The user image in the navbar-->#}
{##}
{#                  <!-- hidden-xs hides the username on small devices so only the image appears. -->#}
{#                  <span class="hidden-xs">Завершить олимпиаду</span>#}
{#                </a>#}
{#              </li>#}
                  {% endblock %}
              <li>
                <a href="{% url 'logoutt' %}">Выйти</a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
          <section class="sidebar">
              {% block sidebar %}

                        <h3 class="time">Олимпиада еще не началась или вы закончили ее писать</h3>

              {% endblock %}
          </section>
        <!-- sidebar: style can be found in sidebar.less -->
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            {% block secheader %}


          <h1>

            <small></small>
          </h1>
          <ol class="breadcrumb">
          </ol>
            {% endblock %}
        </section>

        <!-- Main content -->
        <section class="content">
{% block content %}
        <div class="col-md-12">
              <div class="box">
                <div class="box-header with-border">
                  <h3 class="box-title">Инструкция по тестирующей системе</h3>
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <div class="btn-group">
                      <button class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown"><i class="fa fa-wrench"></i></button>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                      </ul>
                    </div>
                  </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                <div>
                    <ol>
                      <li>Написать олимпиаду можно только один раз.</li>
                      <li>Длительность олимпиады – 1.5 часа</li>
                      <li>Результаты будут известны 18 мая в 12.00</li>
                        <li>Во время олимпиады можно вернуться к уже отвеченному вопросу и исправить его (на панели с цифрами).</li>
                        <li>Количество исправлений никак не влияет на результат. Засчитывается последний выбранный вариант ответа.</li>
                        <li>Ответ пишите строго. (Без лишних пробелов, переводов строк)</li>
                        <li>Успехов!</li>
                    </ol>
                </div>



                </div>
            </div>
        </div>


        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <br><a href="{% url 'test-app:process' %}" class="btn btn-block btn-success btn-lg">Начать тест</a>
          </div>
        </div>





{% endblock %}
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

      <!-- Main Footer -->
      <footer class="main-footer">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
{#          Anything you want#}
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2018 <a href="#">МЕЛ 2018</a>.</strong> Все права защищены.
          По всем вопросам обращайтесь: <a href="Mailto:inbox@mel-olymp.ru">inbox@mel-olymp.ru</a>
      </footer>

        <!-- Control Sidebar -->
      <!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar -->
      <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->

    <!-- REQUIRED JS SCRIPTS -->

    <!-- jQuery 2.1.4 -->

    <!-- Bootstrap 3.3.5 -->
    <script src="{% static 'userman/js/bootstrap.min.js' %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static 'userman/js/app.min.js' %}"></script>

  </body>
</html>
