<html>
<head>
    <meta http-equiv="refresh" content="3;url={% url 'test-app:final' %}">
    <meta charset="UTF-8">
    <title>Ваше сообщение отправлено</title>
</head>
<body>
<P>Мы сохранили ваш результат! Спасибо! Вы будете перенаправлены автоматически на страницу с списком прошедших</P>
</body>
</html>