{% extends 'test_app/base.html' %}

{% block title %}
Онлайн тур написан
{% endblock %}

 {% block sidebar %}
  	<script type="text/javascript">
		$(document).ready(function() {
			updateTimer("{{ time}}");
			setInterval(updateTimer, 1000, "{{ time}}");
		});
	</script>
                        <h3 class="time"><i class="time fa fa-clock-o"></i> <span id="timeLeft">02:23:32</span></h3>
          <hr>
          <p class="time">Вы можете закончить олимпиаду досрочно, нажав кнопку "ЗАВЕРШИТЬ ОЛИМПИАДУ"</p>
          <button class="btn btn-default timeButton" data-toggle="modal" data-target="#myModal">ЗАВЕРШИТЬ ОЛИМПИАДУ</button>
 <!-- Modal -->

 {% endblock %}

{% block content %}
    <p>Спасибо за участие. Ваши ответы приняты. Результыты будут известны 1 мая в 12.00.</p>
    <p>После нажатия кнопки, завершить ваши ответы нельзя будет исправить</p>
    <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <br><a href="{% url 'test-app:finally-finished' %}" class="btn btn-block btn-success btn-lg">Завершить</a>
          </div>

        </div>
        <div class="row">
          <div class="col-md-4"></div>
        <div class="col-md-4">
            <br><a href="{% url 'test-app:process' %}" class="btn btn-block btn-success btn-lg">Вернуться и исправить ответы</a>
          </div>
        </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Внимание</h4>
      </div>
      <div class="modal-body">
        Вы уверены, что хотите завершить олимпиаду?<br> Нажав кнопку "Завершить", вы не сможете продолжить отвечать на вопросы.<br><br>
        Нажмите "Отменить", если вы попали сюда случайно.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
        <a href="{% url 'test-app:finally-finished' %}" class="btn btn-primary">Завершить</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}