{% extends 'test_app/base.html' %}

{% block title %}
    Список приглашенных
{% endblock %}

{% block secheader %}
{#    {% if passed %}#}
{#            <div class="col-md-12">#}
{#        <div class="box">#}
{#                    <div class="box-header with-border">#}
{#                        <h3 class="box-title text-red">Внимание!</h3>#}
{#                    </div><!-- /.box-header -->#}
{#                    <div class="box-body">#}
{#                        <div>#}
{#                            <p>Поздравляем! Вы прошли!</p>#}
{#                            <p> <span class="text-green text-center text-bold">Вы прошли!</span> Подтвердите свое участие, перейдя по данной <a href="{% url 'test-app:confirm' %}">ссылке</a></p>#}
{#                            <P>Подробная информация по очному этапу будет 20 мая.</P>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#    {% endif %}#}
        <p>Подтвердите участие по данному <a href="https://docs.google.com/forms/d/e/1FAIpQLScHsCQA-UmfEYfAjzcA5_g-XjNaa6oqYcs2IMKKolCjobOFHQ/viewform">адресу</a></P>

{#    <p>Подтвердите участие по данному <a href="{% url 'test-app:confirm' %}https://goo.gl/forms/CvT8J9z1cqetG4gI3">адресу</a></P>#}
{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Список приглашенных на 2(очный) тур олимпиады</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                    <table class="table table-responsive">
                    <tr><th>#</th><th>ФИО</th><th>Район</th><th>Школа</th><th>Балл</th></tr>
                        {% for elem in res %}
                            <tr>
                                <td>{{ elem.place }}</td>
                                <td>{{elem.user }}</td>
                                <td>{{elem.district }}</td>
                                <td>{{elem.school }}</td>
                                <td>{{elem.score }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    </div>
                </div>
            </div>

{% endblock %}