{% extends 'test_app/base.html' %}

{% block title %}
    Результат тестирования.
{% endblock %}

{% block secheader %}

            <div class="col-md-12">
        <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title text-red">Внимание!</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div>
                            <p>Сертификат участника заочного этапа вы можете скачать <a href="{% url 'check:gen' uid %}">здесь</a></p>
                            {% if passed %}
                            <p>Поздравляем! Вы прошли!</p>
                            <p> <span class="text-green text-center text-bold">Вы прошли!</span> Подтвердите свое участие, перейдя по данной <a href="{% url 'test-app:confirm' %}">ссылке</a></p>
                            <P>Подробная информация по очному этапу будет 8 мая.</P>
                                <p>Ваш сертификат участника очного этапа вы можете скачать <a href="{% url 'check:gen2' uid %}">здесь</a></p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

{% endblock %}

{% block content %}
    <h1>Ваши результаты:</h1>
    {% for elem in res %}
    <div class="col-md-12">
        <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ elem.question|safe }}</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div>
                            <P class="text-center">Ответ участника</P>
                            <p class="text-center"><blockquote class="text-center">{{ elem.uans|safe }}</blockquote>
                            <p class="text-center text-green">Правильный ответ</p>
                            <p><blockquote class="text-center text-green">{{ elem.cans|safe }}</blockquote></p>
                        </div>
                    </div>
                </div>
            </div>
{% endfor %}
            <div class="row text-center">
                <p>Итого: {{ score }}</p>
            </div>
{% endblock %}