{% extends 'test_app/base.html' %}
{% load widget_tweaks %}
{% block title %}
    {{ title }}
{% endblock %}

{% block navbar %}


                <li class="dropdown user user-menu">
                <!-- Menu Toggle Button -->
                <a href="{% url 'test-app:finished' %}">
                  <!-- The user image in the navbar-->

                  <!-- hidden-xs hides the username on small devices so only the image appears. -->
                  <span class="hidden-xs">Завершить олимпиаду</span>
                </a>
              </li>
{% endblock %}

 {% block sidebar %}
  	<script type="text/javascript">
		$(document).ready(function() {
			updateTimer("{{ time}}");
			setInterval(updateTimer, 1000, "{{ time}}");
		});
	</script>
                        <h3 class="time"><i class="time fa fa-clock-o"></i> <span id="timeLeft">02:23:32</span></h3>
          <hr>
          <p class="time">Вы можете закончить олимпиаду досрочно, нажав кнопку "ЗАВЕРШИТЬ ОЛИМПИАДУ"</p>
          <button class="btn btn-default timeButton" data-toggle="modal" data-target="#myModal">ЗАВЕРШИТЬ ОЛИМПИАДУ</button>
 <!-- Modal -->

 {% endblock %}

{% block content %}
 <div class="col-md-12">
              <div class="box">
                <div class="box-header with-border">
                  <h3 class="box-title">Задание № {{ question_number }}</h3>
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <div class="btn-group">
                      <button class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown"><i class="fa fa-wrench"></i></button>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                      </ul>
                    </div>
                  </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <center>
                  <div class="btn-group" role="group" aria-label="...">
                      {% for pr in progress  %}
                        <a href="{% url 'test-app:process' pr.question_number%}" class="btn btn-{{ pr.style_class }}">{{ pr.question_number }}</a>
                      {% endfor %}
                  </center>
                </div>

            </div>
        </div>
        <div class="col-md-12">
              <div class="box">
                <div class="box-header with-border">
                  <h3 class="box-title">Задание № {{ question_number }}</h3>
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <div class="btn-group">
                      <button class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown"><i class="fa fa-wrench"></i></button>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                      </ul>
                    </div>
                  </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                <div>
                  <p>
                      {{ statement|safe }}
                  </p>
                </div>



                </div><!-- ./box-body -->

            </div>
          </div>
    {% ifequal form.type 'R' %}
    

    
    <form method="post" action="{% url 'test-app:process' question_number %}">
    {% csrf_token %}
           <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-4">
                {% for field in form.choices %}
                    <center><label class="radio-inline">
                    {{ field.tag }} {{ field.choice_label|safe }}

                    </label></center>
                {% endfor %}

            </div>
</div>
                   <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <br><button type="submit" class="btn btn-block btn-success btn-lg">Ответить</button>
          </div>
        </div>


{#        <div class="row">#}
{#          <div class="col-md-4"></div>#}
{#          <div class="col-md-4">#}
{#          </div>#}

{#               </div>#}
</form>
    {% endifequal %}
    
    {% ifequal form.type 'C' %}
<form method="post" action="{% url 'test-app:process' question_number %}">
    {% csrf_token %}
        <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-4">
                {% for field in form.choices %}
                    <label class="checkbox">
                    {{ field.tag }} {{ field.choice_label|safe }}
                    </label>
{#                    <p>{{ field }}</p>#}
                {% endfor %}
              </div>

            </div>

                <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <br><button class="btn btn-block btn-success btn-lg" type="submit">Ответить</button>
          </div>
        </div>
        </form>
    {% endifequal %}

    {% ifequal form.type 'A' %}
<form method="post" action="{% url 'test-app:process' question_number %}">
    {% csrf_token %}
                <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-8">
                {{ form.answer }}
            </div>

        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <br><button type="submit" class="btn btn-block btn-success btn-lg">Ответить</button>
          </div>
        </div>
                    </div>
        </form>
    {% endifequal %}

    {% ifequal form.type 'I' %}
<form method="post" action="{% url 'test-app:process' question_number %}">
    {% csrf_token %}
    <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-4">
                {{ form.answer }}
              </div>
</div>
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <br><button type="submit" class="btn btn-block btn-success btn-lg">Ответить</button>
          </div>
        </div>
                    </div>
        </form>

    {% endifequal %}
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Внимание</h4>
      </div>
      <div class="modal-body">
        Вы уверены, что хотите завершить олимпиаду?<br> Нажав кнопку "Завершить", вы не сможете продолжить отвечать на вопросы.<br><br>
        Нажмите "Отменить", если вы попали сюда случайно.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
        <a href="{% url 'test-app:finally-finished' %}" class="btn btn-primary">Завершить</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}