{% extends 'test_app/base.html' %}

{% block title %}
Онлайн тур написан
{% endblock %}

{% block content %}
    <p>Спасибо за участие ваше время вышло. Олимпиада написана. Ваши результаты сохранены. Результаты будут известны 1 мая в 12.00 на нашем сайте.</p>
    <p><a href="{% url 'test-app:finally-finished' %}" class="btn btn-block btn-success btn-lg">Завершить</a></p>
{% endblock %}