{% extends "base.html" %}
{% load i18n %}
{% load userman_filters %}
{% load widget_tweaks %}
{% load staticfiles %}
{% block title %}МЕЛ | Изменение пароля{% endblock %}
{% block content %}
{# todo Имплементировать страницу сброса пароля #}
    <body class="hold-transition login-page">
    {% if validlink %}

   <div class="login-box">
      <div class="login-logo">
        <a href="index.html"><b>МЕЛ</b>ОЛИМП</a>
      </div><!-- /.login-logo -->
      <div class="login-box-body">
        <p class="login-box-msg">Введите новый пароль 2 раза, чтобы мы могли проверить его на корректность..</p>
                         {% if form.errors %}


      <div class="alert alert-warning alert-dismissable">

          <h4><i class="icon fa fa-warning"></i> Внимание!</h4>
      <ol>
                    {% for field in form %}

                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}

                    {% endfor %}

    </ol>

        </div>
      {% endif %}
        <form action="" method="post">
            {% csrf_token %}
          <div class="form-group has-feedback">
              {{ form.new_password1|attr:"class:form-control"|attr:"placeholder:Введите пароль" }}
{#            <input type="email" class="form-control" placeholder="Email">#}
            <span class="glyphicon  glyphicon-lock form-control-feedback"></span>
          </div>
            <div class="form-group has-feedback">
              {{ form.new_password2|attr:"class:form-control"|attr:"placeholder:Повторите ввод пароля" }}
{#            <input type="email" class="form-control" placeholder="Email">#}
            <span class="glyphicon  glyphicon-lock form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
              <button type="submit" class="btn btn-primary btn-block btn-flat">Сбросить пароль</button>
{#            <input type="password" class="form-control" placeholder="Пароль">#}
          </div>
          <div class="row">
{#            <div class="col-xs-8">#}
{#                <div><a href="{% url 'loginn' %}">Войти</a>#}
{#                <p><a href="{% url 'register' %}" class="text-center">Зарегистрироваться</a></p></div>#}
{#            </div><!-- /.col -->#}
          </div>
        </form>





      </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->

    <!-- jQuery 2.1.4 -->
    <script src="{% static 'userman/plugins/jQuery/jQuery-2.1.4.min.js' %}"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="{% static 'userman/js/bootstrap.min.js' %}"></script>
    <!-- iCheck -->
    <script src="{% static 'userman/plugins/iCheck/icheck.min.js' %}"></script>
    <script>
      $(function () {
        $('input').iCheck({
          checkboxClass: 'icheckbox_square-blue',
          radioClass: 'iradio_square-blue',
          increaseArea: '20%' // optional
        });
      });
    </script>
{#        <div class="container">#}
{##}
{#            <form class="form-signin" action="" method="post">{% csrf_token %}#}
{#                <p>{% trans "Введите новый пароль 2 раза, чтобы мы могли проверить его на корректность." %}</p>#}
{#                {{ form.new_password1.errors }}#}
{#                <p><label#}
{#                        for="id_new_password1">{% trans 'Новый пароль:' %}</label>{{ form.new_password1|attr:"class:form-control" }}#}
{#                </p>#}
{#                {{ form.new_password2.errors }}#}
{#                <p><label#}
{#                        for="id_new_password2">{% trans 'Повторите пароль:' %}</label>{{ form.new_password2|attr:"class:form-control" }}#}
{#                </p>#}
{##}
{#                <p><input class="btn btn-lg btn-primary btn-block" type="submit" value="{% trans 'Изменить пароль' %}"/>#}
{#                </p>#}
{#            </form>#}
{#        </div>#}
    {% else %}

        <p>{% trans "Ссылка неверна, возможно, она была уже использована. Запросите новую." %}</p>

    {% endif %}
</body>
{% endblock %}
