{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}
{% block content %}

    <p>{% trans "На вашу электронную почту было отправлено письмо с данными для изменения пароля." %}</p>

    <p>{% trans "Если письмо не пришло, то вы ввели неверный email или письмо оказалось в папке спам" %}</p>

{% endblock %}
