{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %} МЕЛ | СБРОС ПАРОЛЯ{% endblock %}
{% block content %}

  <body class="hold-transition login-page">
    <div class="login-box">
      <div class="login-logo">
        <a href="index.html"><b>МЕЛ</b>ОЛИМП</a>
      </div><!-- /.login-logo -->
      <div class="login-box-body">
        <p class="login-box-msg">Пожалуйста, укажите  e-mail, который Вы использовали при регистрации на сайте.</p>
        <form action="" method="post">
            {% csrf_token %}
          <div class="form-group has-feedback">
              {{ form.email|attr:"class:form-control"|attr:"placeholder:Email" }}
{#            <input type="email" class="form-control" placeholder="Email">#}
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
              <button type="submit" class="btn btn-primary btn-block btn-flat">Сбросить пароль</button>
{#            <input type="password" class="form-control" placeholder="Пароль">#}
          </div>
          <div class="row">
            <div class="col-xs-8">
                <div><a href="{% url 'loginn' %}">Войти</a>
                <p><a href="{% url 'register' %}" class="text-center">Зарегистрироваться</a></p></div>
            </div><!-- /.col -->
          </div>
        </form>





      </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->

    <!-- jQuery 2.1.4 -->
    <script src="{% static 'userman/plugins/jQuery/jQuery-2.1.4.min.js' %}"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="{% static 'userman/js/bootstrap.min.js' %}"></script>
    <!-- iCheck -->
    <script src="{% static 'userman/plugins/iCheck/icheck.min.js' %}"></script>
    <script>
      $(function () {
        $('input').iCheck({
          checkboxClass: 'icheckbox_square-blue',
          radioClass: 'iradio_square-blue',
          increaseArea: '20%' // optional
        });
      });
    </script>
  </body>

{% endblock %}