{% extends "base.html" %}
{% load i18n admin_static %}

{% block title %}{{ title }}{% endblock %}
{#todo Перевести страницу, с дизайном разобраться#}
{% block content %}
    <div id="content-main">

        <form class="form-signin" action="" method="post">{% csrf_token %}
            <div>
                {% if form.errors %}
                    <p class="errornote">
                        {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}
                            {% trans "Please correct the errors below." %}{% endif %}
                    </p>
                {% endif %}


                <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

                <fieldset class="module aligned wide">

                    <div class="form-row">
                        {{ form.old_password.errors }}
                        {{ form.old_password.label_tag }} {{ form.old_password }}
                    </div>

                    <div class="form-row">
                        {{ form.new_password1.errors }}
                        {{ form.new_password1.label_tag }} {{ form.new_password1 }}
                        {% if form.new_password1.help_text %}
                            <p class="help">{{ form.new_password1.help_text }}</p>
                        {% endif %}
                    </div>

                    <div class="form-row">
                        {{ form.new_password2.errors }}
                        {{ form.new_password2.label_tag }} {{ form.new_password2 }}
                        {% if form.new_password2.help_text %}
                            <p class="help">{{ form.new_password2.help_text }}</p>
                        {% endif %}
                    </div>

                </fieldset>

                <div class="submit-row">
                    <input type="submit" value="{% trans 'Change my password' %}" class="default"/>
                </div>

                <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
            </div>
        </form>
    </div>

{% endblock %}
