{% extends "base.html" %}
{% load i18n %}
{#todo Перевести страницу#}
{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; {% trans 'Сброс пароля' %}
    </div>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}

{% block content %}

    <p>{% trans "Ваш пароль успешно был изменен." %}</p>

    <p><a href="{% url 'loginn' %}">{% trans 'Войти' %}</a></p>

{% endblock %}
