{% load i18n %}{% autoescape off %}
    <table cellpadding="5">
        <tr>
            <td>
                <font family="Arial">
                    {% blocktrans %}Вы получили данное сообщение, потому что вы запросили изменение пароля на
                        {{ site_name }}.{% endblocktrans %}
                    <br/>
                    <br/>
                    {% trans "Перейдите на следующую страницу и измените пароль." %}
                    <br/>
                    {% block reset_link %}
                        <a href="{{ protocol }}://
                                {{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</a>
                    {% endblock %}
                    <br/>
                    <br/>
                    {% trans "Ваш логин:" %} {{ user.get_username }}
                    <br/>
                    <br/>
                    {% trans "Спасибо за участие на нашей олимпиаде!" %}
                    <br/>
                    <br/>
                    {% blocktrans %}Команда олимпиады "МЕЛ"{% endblocktrans %}
                    <br/>
                </font>
            </td>
        </tr>
    </table>
{% endautoescape %}
