<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="3;url={% url 'main' %}">
    <meta charset="UTF-8">
    <title>Ваше сообщение отправлено</title>
</head>
<body>
<h1>Ваше сообщение отправлено администрации. В ближайшее время с вами свяжутся. Спасибо!</h1>
</body>
</html>