<!DOCTYPE html>
<html lang="ru">
{% load staticfiles %}
{% load bootstrap3 %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>МЕЛ - Олимпиада</title>
    {% bootstrap_css %}

    <!-- Bootstrap Core CSS -->
{#    <link href="{% static 'userman/css/bootstrap.min.css' %}" rel="stylesheet">#}

    <!-- Custom CSS -->
    <link href="{% static 'userman/css/agency.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
{#  <link href="{% static 'userman/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">#}
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style type="text/css">
        .linker:visited {
            color: white;
            text-decoration: none;
        }

        .linker:hover  {
            color: white;
            text-decoration: none;
        }
        .linker {
            color: white;
            text-decoration: none;
        }


    </style>

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">МЕЛ</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Главная</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#steps">Этапы</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#prizes">Призы</a>
                    </li>
                    <li>
{#                        <a class="page-scroll" href="" data-toggle="modal" data-target="#myModal2">Положение</a>#}
                        <a class="page-scroll" href="{% static 'userman/docs/polojeniye_mel_2017.pdf' %}">Положение</a>
                    </li>
{#                    <li>#}
{#                        <a class="page-scroll" href="" data-toggle="modal" data-target="#myModal">Результаты</a>#}
{#                    </li>#}
                    <li>
                       <a class="page-scroll" href="{% url 'test-app:final' %}">Результаты</a>
                    </li>
                    <li>
                       <a class="page-scroll" href="{% url 'program' %}">Программа 2 тура</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Обратная связь</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Добро пожаловать на предметную олимпиаду для учеников 5-6 классов </div>
                <div class="intro-heading">- МЕЛ -</div>
                <div class="intro-lead-in">Математика-Естествознание-Логика</div>

{#                <a href="{% url 'register' %}" class="page-scroll btn btn-xl">Зарегистрироваться</a>#}
{#                <a href="{% url 'loginn' %}" class="page-scroll btn btn-xl">Войти</a>#}
            </div>
        </div>
    </header>

    <!-- Почему стоит принять участие в олимпиаде? -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Почему стоит принять участие в олимпиаде?</h2>
                    <br>
                    <br>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Хорошие призы</h4>
                    <p class="text-muted">Победитель и призеры получат призы и грамоты, остальные участники будут награждены сертификатами</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Это удобно</h4>
                    <p class="text-muted">Принять учаcтие в 1 туре очень легко, досточно лишь иметь выход в интернет</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Это бесплатно</h4>
                    <p class="text-muted">Участие бесплатное в отличие от многих других олимпиад. </p>
                </div>
            </div>
         <div class="row">
                <div class="col-lg-12 text-center">
{#                    <a href="{% url 'register' %}" class="page-scroll btn btn-xl">Принять участие</a>#}
                </div>
            </div>
        </div>

    </section>

    <!-- Этапы и олимпиады -->
    <section id="steps" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">ЭТАПЫ ОЛИМПИАДЫ </h2>
                    <br>
                    <br>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">1 ТУР (заочный)</h4>

                    <p class="text-muted">Пройдет в период с 2 апреля(10.00) по 18 апреля 2018 года(22.00)</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">2 ТУР (очный)</h4>

                    <p class="text-muted">Пройдет на базе МАОУ “Лицей-интернат №7” г.Казани 29 апреля 2018 года в 10.00</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-flag fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">НАГРАЖДЕНИЕ</h4>
                    <p class="text-muted">Награждение состоится 29 апреля 2018</p>
                </div>
            </div>
                     <div class="row">
                <div class="col-lg-12 text-center">
{#                    <a href="{% url 'register' %}" class="page-scroll btn btn-xl">Принять участие</a>#}
                </div>
            </div>
        </div>
    </section>

    <!-- Призы -->
    <section id="prizes" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">ПРИЗЫ И СЕРТИФИКАТЫ</h2>
                    <h3 class="section-subheading text-muted">ВСЕ УЧАСТНИКИ ОЛИМПИАДЫ ПОЛУЧАТ СЕРТИФИКАТЫ УЧАСТНИКА</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <center><img src="{% static 'userman/img/portfolio/gift.png' %}" class="img-responsive danil" alt=""></center>
                    <div class="portfolio-caption" style="text-align: center;">
                        <h4>Победитель</h4>
{#                        <p class="text-muted">Подарок<br></p>#}
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <center><img src="{% static 'userman/img/portfolio/gift1.png' %}" class="img-responsive danil" alt=""></center>
                    <div class="portfolio-caption" style="text-align: center;">
                        <h4>2 Место</h4>
{#                        <p class="text-muted">Телефон<br></p>#}
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                <img src="{% static 'userman/img/portfolio/supermarket-gift.png' %}" class="img-responsive danil" alt="">
                    <div class="portfolio-caption" style="text-align: center;">
                        <h4>3 Место</h4>
{#                        <p class="text-muted">Внешний аккумулятор<br></p>#}
                    </div>
                </div>
              
            </div>
                     <div class="row">
                <div class="col-lg-12 text-center">
{#                    <a href="{% url 'register' %}" class="page-scroll btn btn-xl">Принять участие</a>#}
                </div>
            </div>
        </div>
    </section>

    <!-- Цепочка -->
    <aside class="clients bg-light-gray">
    <section id="mel" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center" class="bg-light-gray">
                    <h2 class="section-heading">МЕЛ</h2>
                    <h3 class="section-subheading text-muted">Математика | Естествознание | Логика</h3>
                </div>
            </div>
            <div class="row" class="bg-light-gray">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{% static 'userman/img/about/1.png' %}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <br><br>
                                    <h4 class="subheading">Математика </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Задания представлены в виде тестовых вопросов по программе 5-6 класса.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{% static 'userman/img/about/2.png' %}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <br><br>
                                    <h4 class="subheading">Естествознание</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Задания в виде открытых вопросов на общую эрудицию по предметам окружающий мир, биология, природоведение.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{% static 'userman/img/about/3.png' %}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <br>
                                    <h4 class="subheading">Логика</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">В данном разделе задачи, проверяющие общие логико-математические умения и навыки мышления.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <a class="page-scroll linker"  href="{% url 'register' %}"><h4>Хочу
                                    <br>принять
                                    <br>участие</h4></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    </aside>
    
    <!-- Contact Section -->
    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Обратная связь</h2>
                    <h3 class="section-subheading text-muted">Заполните форму, если у вас остались вопросы</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" action="{% url 'main' %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.name }}
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    {{ form.surname }}
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    {{ form.email }}
                                    <p class="help-block text-danger"></p>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.question_txt }}
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button class="btn btn-lg btn-primary btn-block" type="submit">Написать</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- end of Contact Section -->

    <footer>
        <div class="container">
            <div class="row">
                <div >
                    <span class="copyright">Copyright &copy; МЕЛ 2018. По всем вопросам обращайтесь на <a href="mailto:inbox@mel-olymp.ru">inbox@mel-olymp.ru</a> </span>
                </div>
            </div>
        </div>

    </footer>
    <!-- jQuery -->
    <script src="{% static 'userman/js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
{#    <script src="{% static 'userman/js/bootstrap.min.js' %}"></script>#}
{% bootstrap_javascript %}
    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{% static 'userman/js/classie.js' %}"></script>
    <script src="{% static 'userman/js/cbpAnimatedHeader.js' %}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{% static 'userman/js/jqBootstrapValidation.js' %}"></script>
{#    <script src="{% static 'userman/js/contact_me.js' %}"></script>#}

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'userman/js/agency.js' %}"></script>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Результаты</h4>
          </div>
            <p>Результаты известны. Они в вашем личном кабинете. Для того, чтобы увидеть их перейдите по данной <a href="{% url 'loginn' %}">ссылке</a></p>
            <p>Сертификат участника можно будет скачать после 20 мая.</p>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Прочитал</button>
          </div>
        </div>
      </div>
    </div>
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Положение</h4>
          </div>
          <div class="modal-body">
               <div>
	<p style="text-align: center;">Положение Республиканской Олимпиады МЕЛ
	</p>
	<p style="text-align: center;">(математика, естествознание, логика)
	</p>
	<p style="text-align: center;">I. Общие положения
	</p>
	<p style="text-align: justify;">1.1. Настоящее Положение Олимпиады школьников по математике, естествознанию и логике МЕЛ (далее — Положение) определяет порядок организации и проведения Олимпиады школьников по математике, естествознанию и логике МЕЛ (далее — Олимпиада), ее организационное, методическое и финансовое обеспечение, порядок участия в Олимпиаде учащихся и порядок определения победителей и призеров.
	</p>
	<p style="text-align: justify;">1.2. Основными целями и задачами Олимпиады являются выявление и развитие у школьников творческих способностей и интереса к математике и логике, поддержки одаренных детей, содействие им в профессиональной ориентации.
	</p>
	<p style="text-align: justify;">1.3. Олимпиада проводится ежегодно Министерством образования Республики Татарстан, государственным автономным учреждением «Республиканский олимпиадный центр» Министерства образования и науки Республики Татарстан, муниципальным автономным общеобразовательным учреждением «Лицей-интернат №7» Ново-Савиновского района г.Казани.
	</p>
	<p style="text-align: justify;">1.4. Олимпиада проводится для обучающихся 5-6 классов средней школы.
	</p>
	<p style="text-align: justify;">1.5. Обучающиеся принимают участие в Олимпиаде на добровольной основе.
	</p>
	<p style="text-align: justify;"><br>
	</p>
	<p style="text-align: center;">II. Организационно-методическое и информационное обеспечение Олимпиады
	</p>
	<p style="text-align: justify;">2.1. Для организационно-методического обеспечения проведения Олимпиады создается оргкомитет, который формирует жюри. Состав оргкомитета и жюри Олимпиады утверждаются Министерством образования Республики Татарстан. Оргкомитет определяет формы и количество туров Олимпиады, устанавливает сроки и место проведения Олимпиады.
	</p>
	<p style="text-align: justify;">2.2. Информация об Олимпиаде и о порядке участия в ней, о победителях и призерах является открытой, публикуется в сети Интернет, на сайте олимпиады с целью информирования обучающихся.
	</p>
	<p style="text-align: justify;"><br>
	</p>
	<p style="text-align: center;">III. Порядок организации и проведения Олимпиады
	</p>
	<p style="text-align: justify;">3.1. Олимпиада проводится в два тура: со 2 по 18 апреля 2017 года – заочный интернет-тур; 29 апреля 2018 – очный тур.
	</p>
	<p style="text-align: justify;"><br>
	</p>
	<p style="text-align: center;">IV. Порядок участия в Олимпиаде, определения победителей и призеров.
	</p>
	<p style="text-align: center;">Права и обязанности участников Олимпиады
	</p>
	<p style="text-align: justify;">4.1. Участие в первом туре Олимпиады является открытым. Допускается организация предварительной регистрации участников. Необходимо зарегистрироваться на сайте <a href="http://www.mel-olymp.ru" target="_blank" class="external">www.mel-olymp.ru</a> и пройти 1 тур олимпиады с 7.00 2 мая до 23.00 17 мая 2016 года. На выполнение 1 тура отводится 1 час 30 минут. Прохождение 1 тура олимпиады возможно только 1 раз. Данный этап олимпиады состоит из 50 вопросов (тестовых вопросов и вопросов, требующих развернутого ответа).
	</p>
	<p style="text-align: justify;">4.2. Участник олимпиады имеет право принять участие в Олимпиаде; получить информацию о порядке, месте и времени проведения олимпиады и результатах проверки своей работы.
	</p>
	<p style="text-align: justify;">4.3. Участник Олимпиады обязан выполнять требования настоящего положения, соблюдать порядок проведения олимпиады, который доводится до участников перед началом олимпиады. В случае нарушения порядка проведения олимпиады результаты могут быть аннулированы, а участник лишен права участия в ней.
	</p>
	<p style="text-align: justify;">4.4. На второй тур допускаются 100 участников 1 тура олимпиады, набравших наибольшее количество баллов, но выполнивших не менее 50% заданий верно. Результаты 1 тура будут размещены на сайте олимпиады 18 мая в 12.00.
	</p>
	<p style="text-align: justify;">4.5. Победители и призеры определяются по результатам очного тура Олимпиады. Участники награждаются грамотами, специальными и поощрительными призами.
	</p>
	<p style="text-align: justify;">4.6. Второй тур олимпиады пройдет 29 апреля 2018 в 10.00 на базе МАОУ «Лицей-интернат №7» Ново-Савиновского района г.Казани (адрес: г. Казань, ул. Четаева, 37А). Расписание олимпиады будет размещено на сайте олимпиады 20 мая 2016 года.
	</p>
	<p style="text-align: justify;">4.7. По итогам Олимпиады оргкомитет издает приказ с указанием победителей и призеров.
	</p>
	<p style="text-align: justify;">4.8. По всем возникающим вопросам обращаться к куратору олимпиады Мухитдинову Ильгизу Фаилевичу. (+79027184967, e-mail: <a href="mailto:inbox@mel-olymp.ru" class="mailto">inbox@mel-olymp.ru</a>)
	</p>
	<p style="text-align: justify;"><br>
	</p>
	<p style="text-align: center;">V. Права победителей и призеров Олимпиады
	</p>
	<p style="text-align: justify;">5.1. Результаты участия в Олимпиаде могут быть учтены при поступлении в государственные и муниципальные образовательные учреждения среднего общего образования по решению администрации соответствующего образовательного учреждения.
	</p>
	<p style="text-align: center;"><br>
	</p>
	<p style="text-align: center;">VI. Финансовое обеспечение Олимпиады
	</p>
	<p style="text-align: justify;">6.1. Финансовое обеспечение организации и проведения Олимпиады осуществляется за счет спонсорских средств и за счет собственных средств принимающей стороны (МАОУ «Лицей-интернат №7» Ново-Савиновского района г.Казани).
	</p>
	<p style="text-align: justify;">6.2. Оплата за участие в Олимпиаде не взимается.
	</p>
	<p style="text-align: justify;">6.3. Расходы по командированию участников на очный тур Олимпиады несет направляющая сторона.
	</p>
	<div><br>
	</div>
</div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Прочитал</button>
          </div>
        </div>
      </div>
    </div>

</body>

</html>
