{% extends 'userman/base.html' %}
{% load staticfiles %}
{% block title %}
    МЕЛ | Вход
{% endblock %}

{% block content %}

  <body class="hold-transition login-page">
    <div class="login-box">
      <div class="login-logo">
        <a href="{% url 'main' %}"><b>МЕЛ</b>ОЛИМП</a>
      </div><!-- /.login-logo -->
      <div class="login-box-body">
        <p class="login-box-msg">Войдите в систему для старта сессии</p>
               {% if form.errors %}


      <div class="alert alert-warning alert-dismissable">

          <h4><i class="icon fa fa-warning"></i> Внимание!</h4>
      <ol>
                    {% for field in form %}

                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}

                    {% endfor %}

    </ol>

        </div>
      {% endif %}
        <form action="{% url 'loginn' %}" method="post">
            {% csrf_token %}
          <div class="form-group has-feedback">
              {{ form.username }}
{#            <input type="email" class="form-control" placeholder="Email">#}
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
              {{ form.password }}
{#            <input type="password" class="form-control" placeholder="Пароль">#}
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          <div class="row">
            <div class="col-xs-8">
              <div class="checkbox icheck">
                <label>
                  <input type="checkbox"> Запомнить меня
                </label>
              </div>
                <div><a href="{% url 'password_reset' %}">Забыли пароль?</a></div>
            </div><!-- /.col -->
            <div class="col-xs-4">
              <button type="submit" class="btn btn-primary btn-block btn-flat">Войти</button>
            </div><!-- /.col -->
          </div>
        </form>



        <a href="{% url 'register' %}" class="text-center">Зарегистрироваться</a>

      </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->

    <!-- jQuery 2.1.4 -->
    <script src="{% static 'userman/plugins/jQuery/jQuery-2.1.4.min.js' %}"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="{% static 'userman/js/bootstrap.min.js' %}"></script>
    <!-- iCheck -->
    <script src="{% static 'userman/plugins/iCheck/icheck.min.js' %}"></script>
    <script>
      $(function () {
        $('input').iCheck({
          checkboxClass: 'icheckbox_square-blue',
          radioClass: 'iradio_square-blue',
          increaseArea: '20%' // optional
        });
      });
    </script>
  </body>

{% endblock %}