{% extends 'test_app/base.html' %}
{% load staticfiles %}
{% block title %}
Программа мероприятий
{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Программа очного тура Республиканской Олимпиады МЕЛ
29 апреля 2018 года(г.Казань, ул.Четаева 37а
)</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div>
                            <P class="">9.00 - 10.00 Регистрация участников</P>
                            <p class="">10.00 - 12.00 Очный тур Олимпиады</p>
                            <p>12.00 - 14.00 Проверка олимпиадных работ</p>
                            <p>14.00 Вывешивание результатов Олимпиады</p>
                            <p>15.00 Награждение победителей и призеров Олимпиады</p>
                            <P>При себе иметь:</P>
                            <ol>
                                 <li>Ручку</li>
                                <li>Согласие родителей на обработку персональных данных ребенка (скачать <a href="{% static 'userman/docs/soglasiye.pdf'  %}">отсюда</a>).</li>
                                <li>Справку со школы.</li>
                            </ol>
                        </div>


                    </div>
                </div>
                <!-- Your Page Content Here -->
    </div>
    <div class="col-md-12">
        <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Карта
</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div>
                                <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=ON5JcJ-PABNUinnVK854Wl3IhmkvDf1e&width=100%&height=400&lang=ru_RU&sourceType=constructor&scroll=true"></script>
                        </div>


                    </div>
                </div>
                <!-- Your Page Content Here -->
    </div>

{% endblock %}