{% extends 'userman/base.html' %}

{% block title %}
    МЕЛ | Регистрация
{% endblock %}

{% block content %}
{% load staticfiles %}
    <script type="text/javascript" src="{% static 'userman/js/list.js' %}"></script>
 <body class="hold-transition register-page">
     <script src="{% static 'userman/plugins/jQuery/jQuery-2.1.4.min.js' %}"></script>
    <script src="{% static 'userman/plugins/jQuery/phone.js' %}" type="text/javascript"></script>
          <script type="text/javascript">
jQuery(function($){
   $("#id_phone_number").mask("+7 (999) 999-99-99");
   $("#id_birth_date").mask("99/99/9999");
});
</script>
    <div class="register-box">
      <div class="register-logo">
        <a href="{% url 'main' %}"><b>МЕЛ</b>ОЛИМП</a>
      </div>

      <div class="register-box-body">
      {% if form.errors %}


      <div class="alert alert-warning alert-dismissable">

          <h4><i class="icon fa fa-warning"></i> Внимание!</h4>
      <ol>
                    {% for field in form %}

                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}

                    {% endfor %}
    </ol>
        </div>
      {% endif %}
        <p class="login-box-msg">Регистрация нового пользователя</p>
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            {% if form.last_name.errors %}
                <div class="form-group has-error has-feedback">
                {{ form.last_name }}
            <span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
          </div>
            {% else %}
              <div class="form-group has-feedback">
                  {{ form.last_name }}
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
              </div>
            {% endif %}
        {% if form.first_name.errors %}
            <div class="form-group has-error has-feedback">
                {{ form.first_name }}
            <span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
          </div>
        {% else %}
          <div class="form-group has-feedback">
              {{ form.first_name }}
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
          </div>
        {% endif %}
            {% if form.fathers_name.errors %}
            <div class="form-group has-error has-feedback">
                {{ form.fathers_name }}
            <span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
          </div>
        {% else %}
          <div class="form-group has-feedback">
              {{ form.fathers_name }}
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
          </div>
        {% endif %}
        {% if form.gender.errors %}
            <div class="has-error">
        {% else %}
            <div>
        {% endif %}
          <label class="radio-inline">
              {{ form.gender.0 }}
          </label>
          <label class="radio-inline">
              {{ form.gender.1 }}
          </label>
        </div>
          <br>
        {% if form.birth_date.errors %}
            <div class="form-group has-error has-feedback">
                {{ form.birth_date }}
            <span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
          </div>
        {% else %}
            <div class="form-group has-feedback">
              {{ form.birth_date }}
            <span class="glyphicon glyphicon-calendar form-control-feedback"></span>
             </div>
        {% endif %}
        {% if form.phone_number.errors %}
                        <div class="form-group has-error has-feedback">
                {{ form.phone_number }}
            <span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
          </div>

            {% else %}
          <div class="form-group has-feedback">
              {{ form.phone_number }}
            <span class="glyphicon glyphicon-phone form-control-feedback"></span>
          </div>
        {% endif %}
        {% if form.district.errors %}
            <div class="form-group has-error has-feedback">
                {{ form.district }}
          </div>
        {% else %}

          <div class="form-group has-feedback">
            {{ form.district }}
          </div>
        {% endif %}
        {% if form.school.errors %}
                        <div class="form-group has-error has-feedback">
                {{ form.school }}
          </div>
        {% else %}

          <div class="form-group has-feedback">
            {{ form.school }}
          </div>
        {% endif %}
              {% if form.grade.errors %}
                  <div class="has-error">
              {% else %}
                  <div>
              {% endif %}
          <label class="radio-inline">
            {{ form.grade.0 }}
          </label>
          <label class="radio-inline">
              {{ form.grade.1 }}
          </label>
          </div>
        <br>
            {% if form.teacher.errors %}
                <div class="form-group has-error has-feedback">
                {{ form.teacher }}
            <span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
          </div>
            {% else %}
              <div class="form-group has-feedback">
                  {{ form.teacher }}
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
              </div>
            {% endif %}
        {% if form.email.errors %}
            <div class="form-group has-error has-feedback">
                {{ form.email }}
            <span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
          </div>
        {% else %}
          <div class="form-group has-feedback">
              {{ form.email }}
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>
        {% endif %}
        {% if form.password.errors %}
                        <div class="form-group has-error has-feedback">
                {{ form.password }}
            <span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
          </div>
        {% else %}

          <div class="form-group has-feedback">
              {{ form.password }}
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
        {% endif %}
        {% if form.repassword.errors %}
            <div class="form-group has-error has-feedback">
                {{ form.repassword }}
            <span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
          </div>

        {% else %}

          <div class="form-group has-feedback">
              {{ form.repassword }}
            <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
          </div>
        {% endif %}
          <div class="row">
            <div class="col-xs-8">
                {% if form.terms.errors %}
                <div class="checkbox icheck has-error">
                {% else %}
              <div class="checkbox icheck">
                  {% endif %}
                <label>
                    {{ form.terms.0 }}
                </label><br><br>
                <label>
                    {{ form.terms.1 }}
                </label>

              </div>
            </div><!-- /.col -->
          </div>
         <div class="">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Зарегистрироваться</button>
        </div><!-- /.col -->
        </form>
        <br>


        <a href="{% url 'loginn' %}" class="text-center">У меня уже есть аккаунт</a>
      </div><!-- /.form-box -->
    </div><!-- /.register-box -->

    <!-- Bootstrap 3.3.5 -->
    <script src="{% static 'userman/js/bootstrap.min.js' %}"></script>
    <!-- iCheck -->
    <script src="{% static 'userman/plugins/iCheck/icheck.min.js' %}"></script>
    <script>
      $(function () {
        $('input').iCheck({
          checkboxClass: 'icheckbox_square-blue',
          radioClass: 'iradio_square-blue',
          increaseArea: '20%' // optional
        });
      });
    </script>

     <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Согласие на обработку персональных данных</h4>
          </div>
          <div class="modal-body">
<p>Я даю согласие на обработку следующих сведений, составляющих персональные данные, необходимых «МАОУ Лицей-интернат №7» на время проведения заочного этапа олимпиады «МЕЛ»:</p>
<ol>
	<li>фамилия, имя, отчество;</li>
	<li>Дата рождения;</li>
	<li>Контактный номер телефона;</li>
	<li>Адрес электронной почты; </li>
</ol>
<p>Согласен на совершение оператором обработки персональных данных, указанных в данном документе, в том числе на сбор, анализ, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, обезличивание, блокирование, удаление, уничтожение персональных данных.</p>

<p>Согласен на передачу вышеперечисленных персональных данных в МАОУ «Лицей-интернат №7», а также другим учреждениям и организациям, принимающим участие в проведении олимпиады «МЕЛ».</p>
<p>Обработку персональных данных разрешаю на срок, необходимый для достижения вышеуказанных целей.</p>
<p>Подтверждаю, что с порядком отзыва согласия на обработку персональных данных в соответствии с п.5 ст.21 Федерального закона №152-ФЗ от 27.07.2006 «О персональных данных» ознакомлен(а).</p>
<p>Права и обязанности в области защиты персональных данных мне известны. С юридическими последствиями автоматизированной обработки персональных данных ознакомлен(а).</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Прочитал</button>
          </div>
        </div>
      </div>
    </div>

      <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Условия</h4>
          </div>
          <div class="modal-body">
                <div>
	<p style="text-align: center;">Положение Республиканской Олимпиады МЕЛ
	</p>
	<p style="text-align: center;">(математика, естествознание, логика)
	</p>
	<p style="text-align: center;">I. Общие положения
	</p>
	<p style="text-align: justify;">1.1. Настоящее Положение Олимпиады школьников по математике, естествознанию и логике МЕЛ (далее — Положение) определяет порядок организации и проведения Олимпиады школьников по математике, естествознанию и логике МЕЛ (далее — Олимпиада), ее организационное, методическое и финансовое обеспечение, порядок участия в Олимпиаде учащихся и порядок определения победителей и призеров.
	</p>
	<p style="text-align: justify;">1.2. Основными целями и задачами Олимпиады являются выявление и развитие у школьников творческих способностей и интереса к математике и логике, поддержки одаренных детей, содействие им в профессиональной ориентации.
	</p>
	<p style="text-align: justify;">1.3. Олимпиада проводится ежегодно Министерством образования Республики Татарстан, государственным автономным учреждением «Республиканский олимпиадный центр» Министерства образования и науки Республики Татарстан, муниципальным автономным общеобразовательным учреждением «Лицей-интернат №7» Ново-Савиновского района г.Казани.
	</p>
	<p style="text-align: justify;">1.4. Олимпиада проводится для обучающихся 5-6 классов средней школы.
	</p>
	<p style="text-align: justify;">1.5. Обучающиеся принимают участие в Олимпиаде на добровольной основе.
	</p>
	<p style="text-align: justify;"><br>
	</p>
	<p style="text-align: center;">II. Организационно-методическое и информационное обеспечение Олимпиады
	</p>
	<p style="text-align: justify;">2.1. Для организационно-методического обеспечения проведения Олимпиады создается оргкомитет, который формирует жюри. Состав оргкомитета и жюри Олимпиады утверждаются Министерством образования Республики Татарстан. Оргкомитет определяет формы и количество туров Олимпиады, устанавливает сроки и место проведения Олимпиады.
	</p>
	<p style="text-align: justify;">2.2. Информация об Олимпиаде и о порядке участия в ней, о победителях и призерах является открытой, публикуется в сети Интернет, на сайте олимпиады с целью информирования обучающихся.
	</p>
	<p style="text-align: justify;"><br>
	</p>
	<p style="text-align: center;">III. Порядок организации и проведения Олимпиады
	</p>
	<p style="text-align: justify;">3.1. Олимпиада проводится в два тура: со 2 по 17 мая 2016 года – заочный интернет-тур; 22 мая 2016 года – очный тур.
	</p>
	<p style="text-align: justify;"><br>
	</p>
	<p style="text-align: center;">IV. Порядок участия в Олимпиаде, определения победителей и призеров.
	</p>
	<p style="text-align: center;">Права и обязанности участников Олимпиады
	</p>
	<p style="text-align: justify;">4.1. Участие в первом туре Олимпиады является открытым. Допускается организация предварительной регистрации участников. Необходимо зарегистрироваться на сайте <a href="http://www.mel-olymp.ru" target="_blank" class="external">www.mel-olymp.ru</a> и пройти 1 тур олимпиады с 7.00 2 мая до 23.00 17 мая 2016 года. На выполнение 1 тура отводится 1 час 30 минут. Прохождение 1 тура олимпиады возможно только 1 раз. Данный этап олимпиады состоит из 50 вопросов (тестовых вопросов и вопросов, требующих развернутого ответа).
	</p>
	<p style="text-align: justify;">4.2. Участник олимпиады имеет право принять участие в Олимпиаде; получить информацию о порядке, месте и времени проведения олимпиады и результатах проверки своей работы.
	</p>
	<p style="text-align: justify;">4.3. Участник Олимпиады обязан выполнять требования настоящего положения, соблюдать порядок проведения олимпиады, который доводится до участников перед началом олимпиады. В случае нарушения порядка проведения олимпиады результаты могут быть аннулированы, а участник лишен права участия в ней.
	</p>
	<p style="text-align: justify;">4.4. На второй тур допускаются 100 участников 1 тура олимпиады, набравших наибольшее количество баллов, но выполнивших не менее 50% заданий верно. Результаты 1 тура будут размещены на сайте олимпиады 18 мая в 12.00.
	</p>
	<p style="text-align: justify;">4.5. Победители и призеры определяются по результатам очного тура Олимпиады. Участники награждаются грамотами, специальными и поощрительными призами.
	</p>
	<p style="text-align: justify;">4.6. Второй тур олимпиады пройдет 22 мая 2016 года в 10.00 на базе МАОУ «Лицей-интернат №7» Ново-Савиновского района г.Казани (адрес: г. Казань, ул. Четаева, 37А). Расписание олимпиады будет размещено на сайте олимпиады 20 мая 2016 года.
	</p>
	<p style="text-align: justify;">4.7. По итогам Олимпиады оргкомитет издает приказ с указанием победителей и призеров.
	</p>
	<p style="text-align: justify;">4.8. По всем возникающим вопросам обращаться к куратору олимпиады Мухитдинову Ильгизу Фаилевичу. (+79027184967, e-mail: <a href="mailto:inbox@mel-olymp.ru" class="mailto">inbox@mel-olymp.ru</a>)
	</p>
	<p style="text-align: justify;"><br>
	</p>
	<p style="text-align: center;">V. Права победителей и призеров Олимпиады
	</p>
	<p style="text-align: justify;">5.1. Результаты участия в Олимпиаде могут быть учтены при поступлении в государственные и муниципальные образовательные учреждения среднего общего образования по решению администрации соответствующего образовательного учреждения.
	</p>
	<p style="text-align: center;"><br>
	</p>
	<p style="text-align: center;">VI. Финансовое обеспечение Олимпиады
	</p>
	<p style="text-align: justify;">6.1. Финансовое обеспечение организации и проведения Олимпиады осуществляется за счет спонсорских средств и за счет собственных средств принимающей стороны (МАОУ «Лицей-интернат №7» Ново-Савиновского района г.Казани).
	</p>
	<p style="text-align: justify;">6.2. Оплата за участие в Олимпиаде не взимается.
	</p>
	<p style="text-align: justify;">6.3. Расходы по командированию участников на очный тур Олимпиады несет направляющая сторона.
	</p>
	<div><br>
	</div>
</div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Прочитал</button>
          </div>
        </div>
      </div>
    </div>
  </body>
{% endblock %}