<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация успешно завершена</title>
</head>
<body>
Ваша почта успешно активирована. Сейчас вы будете перенаправлены на страницу тестирования.
<meta http-equiv="refresh" content="1;url={% url 'main' %}">
{#todo Design register success page#}
</body>
</html>