{% extends 'test_app/base.html' %}

{% block title %}
    Проверка заданий
{% endblock %}

{% block secheader %}
          <h1>
            Проверка заданий
          </h1>
          <ol class="breadcrumb">
            <li class="active"><i class="fa fa-dashboard"></i>Список пользователей</li>
          </ol>
{% endblock %}
{% block content %}
    <div class="row">
    <div class="box-body">
        <h3>Проверено: {{ checked }} / {{ all }}</h3>
        <h4>Вы проверили: {{ count }}</h4>
          <table class="table table-bordered table-hover">
              <caption>Список написавших тест</caption>
              <tr>
                  <th>Участник</th>
                  <th>Проверяется?</th>
                  <th>Пользователь</th>
              </tr>
              {% for submission in submissions  %}
                <tr>

                    <td>{% if submission.is_linked %}
                        <a href="{% url 'check:process' submission.id %}">{{ submission.user }}</a>
                        {% else %}
                        <span>{{ submission.user }}</span>
                    {% endif %} </td>
                    <td><i class="{{ submission.css }}"></i></td>
                    <td>{{ submission.teacher }}</td>
                </tr>
              {% endfor %}
          </table>
    </div>
    </div>
{% endblock %}