{% extends 'test_app/base.html' %}

{% block content %}
    <div class="row">
    <div class="box-body">
        <h3>Проверено: {{ checked }} / {{ all }}</h3>
        <table class="table">
            <tr><th>Username</th><th>Count</th></tr>
            {% for elem in list %}
                <tr><td>{{ elem.user }}</td>
                <td>{{ elem.count }}</td></tr>
            {% endfor %}


        </table>

    </div>
    </div>
{% endblock %}