<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'userman/css/main.css'  %}">

	<title>MEL</title>

</head>
<body>
    <div class="maincard">
        <div class="top"></div>
        <img class="header" src="{% static 'userman/img/header.png' %}"/>
        <h1 class="textheader">Настоящим подтверждается, что</h1>
        <h2 class="username">{{ name }},</h2>
{#        <h3 class="texthead">ученик(ца) 10 класса</h3>#}
        <h3 class="texthead0"> {% if gender %}
            учащийся
            {% else %}
            учащаяся
        {% endif %}
            {{ school }}</h3>
        <h4 class="texthead0">принял(а) участие в Республиканской олимпиаде<br>
МЕЛ (математика, естествознание, логика) в 2(очном) туре.<br></h4>
        <img class="footer" src="{% static 'userman/img/auth.png' %}"/>
        <div class="date">22 мая 2016г.</div>
    </div>
</body>
</html>