{% extends 'test_app/base.html' %}

{% block title %}
Список участников
{% endblock %}


{% block content %}
    <div class="row">
    <div class="box-body">
        <table class="table">
            <tr><th>ФИО</th><th>Пол</th><th>Класс</th><th>Район</th><th>Школа</th><th>Номер телефона</th><th>Балл</th><th>Приедет?</th><th>email</th></tr>
            {% for student in students %}

                <tr>
                <td>{{ student.name }}</td>
                    <td>{{ student.gender }}</td>
                    <td>{{ student.class }}</td>
                    <td>{{ student.district }}</td>
                <td>{{ student.school }}</td>
                <td>{{ student.phone }}</td>
                <td>{{ student.score }}</td>
                <td>{{ student.will }}</td>
                <td>{{ student.email }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    </div>
{% endblock %}