{% extends 'test_app/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block sidebar %}

    <!-- Menu Toggle Button -->
    {% for subject in subjects %}
        <li class="dropdown user user-menu">
            <a href="{% url 'check:questions' subject.id %}">{{ subject.name }}
                <!-- The user image in the navbar-->

                <!-- hidden-xs hides the username on small devices so only the image appears. -->

            </a>
        </li>
    {% endfor %}



{% endblock %}

{% block content %}
    {% for fk in forms %}



        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Задание № {{ fk.question_number }}</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <div class="btn-group">
                            <button class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown"><i
                                    class="fa fa-wrench"></i></button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div>
                        <p>
                            {{ fk.question_text|safe }}
                        </p>
                    </div>


                </div><!-- ./box-body -->

            </div>
        </div>
        {% ifequal fk.form.type 'R' %}



            {% csrf_token %}
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    {% for field in fk.form.choices %}
                        <center><label class="radio-inline">
                            {{ field.tag }} {{ field.choice_label|safe }}

                        </label></center>
                    {% endfor %}

                </div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                </div>
            </div>


            {#        <div class="row">#}
            {#          <div class="col-md-4"></div>#}
            {#          <div class="col-md-4">#}
            {#          </div>#}

            {#               </div>#}
        {% endifequal %}

        {% ifequal fk.form.type 'C' %}
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    {% for field in fk.form.choices %}
                        <label class="checkbox">
                            {{ field.tag }} {{ field.choice_label|safe }}
                        </label>
                        {#                    <p>{{ field }}</p>#}
                    {% endfor %}
                </div>

            </div>

            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                </div>
            </div>
        {% endifequal %}

        {% ifequal fk.form.type 'A' %}
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    {{ fk.form.answer }}
                </div>

                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                    </div>
                </div>
            </div>
        {% endifequal %}

        {% ifequal form.type 'I' %}
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    {{ fk.form.answer }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
            </div>
            </div>


        {% endifequal %}
    {% endfor %}
{% endblock %}