{% extends 'test_app/base.html' %}

{% block title %}
    Результат олимпиады
{% endblock %}


{% block content %}
    <div class="row">
    <div class="box-body">
        <table class="table">
            <tr><th>#</th><th>ФИО</th><th>Балл</th></tr>
            {% for student in students %}

                <tr>
                <td>{{ student.place }}</td>
                    <td>{{ student.name }}</td>
                <td>{{ student.score }}</td></tr>
            {% endfor %}
        </table>
    </div>
    </div>
{% endblock %}