{% extends 'test_app/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block secheader %}
    {{ contestant }}
{% endblock %}

{% block content %}
     <form method="post">
 {% csrf_token %}
         {% for form in forms %}
    <div class="col-md-12">
        <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ form.question|safe }}</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div>
                            <P class="text-center">Ответ участника</P>
                            <p class="text-center"><blockquote>{{ form.answer_text }}</blockquote>
                            <p class="text-center text-green">Правильный ответ</p>
                            <p><blockquote class="text-center text-green">{{ form.answer }}</blockquote></p>

                            {{ form.as_p }}
                        </div>


                    </div>
                </div>
                <!-- Your Page Content Here -->
            </div>
{% endfor %}
            <div class="row text-center">
                <input type="submit" value="Сохранить">
            </div>
 </form>
{% endblock %}