<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script>
		<script type="text/javascript" src="{% static 'userman/js/list.js' %}"></script>
	</head>
	<body>
		<select id="list1" disabled>
			<option value="-1"></option>
{#			<option value="2">Район 2</option>#}
{#			<option value="49">Район 49</option>#}
		</select>
		<select id="list2" disabled>
			<option>Выберите район</option>
		</select>
	</body>
</html>
