{% extends 'userman/base.html' %}

{% load staticfiles %}
{% block title %}
    МЕЛ | Подтверждение участия
{% endblock %}

{% block content %}
    <script type="text/javascript" src="{% static 'userman/js/list.js' %}"></script>
 <body class="hold-transition register-page">
     <script src="{% static 'userman/plugins/jQuery/jQuery-2.1.4.min.js' %}"></script>
    <script src="{% static 'userman/plugins/jQuery/phone.js' %}" type="text/javascript"></script>
          <script type="text/javascript">
jQuery(function($){
   $("#id_phone").mask("+7 (999) 999-99-99");
});
</script>
  <body class="hold-transition login-page">
    <div class="login-box">
      <div class="login-logo">
        <a href="{% url 'main' %}"><b>МЕЛ</b>ОЛИМП</a>
      </div><!-- /.login-logo -->
      <div class="login-box-body">
        <p class="login-box-msg">Подтверждение участия на олимпиаде</p>
               {% if form.errors %}


      <div class="alert alert-warning alert-dismissable">

          <h4><i class="icon fa fa-warning"></i> Внимание!</h4>
      <ol>
                    {% for field in form %}

                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}

                    {% endfor %}

    </ol>

        </div>
      {% endif %}
        <form action="{% url 'test-app:confirm' %}" method="post">
            {% csrf_token %}
            <div class="form-group has-feedback">
                <p>Укажите номер телефона одного из родителей</p>
            </div>
          <div class="form-group has-feedback">
              {{ form.who }}
{#            <input type="email" class="form-control" placeholder="Email">#}
          </div>
          <div class="form-group has-feedback">
              {{ form.phone }}
{#            <input type="password" class="form-control" placeholder="Пароль">#}
          </div>
            <div class="form-group has-feedback">
              {{ form.will_come }} Я приеду!
          </div>
          <div class="row">
            <div class="col-xs-8">
            </div><!-- /.col -->
            <center><div class="col-xs-12">
              <button type="submit" class="btn btn-primary btn-block btn-flat">Подтвердить</button>
            </div></center><!-- /.col -->
          </div>
        </form>


      </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->

    <!-- jQuery 2.1.4 -->
    <script src="{% static 'userman/plugins/jQuery/jQuery-2.1.4.min.js' %}"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="{% static 'userman/js/bootstrap.min.js' %}"></script>
    <!-- iCheck -->
    <script src="{% static 'userman/plugins/iCheck/icheck.min.js' %}"></script>
    <script>
      $(function () {
        $('input').iCheck({
          checkboxClass: 'icheckbox_square-blue',
          radioClass: 'iradio_square-blue',
          increaseArea: '20%' // optional
        });
      });
    </script>
  </body>

{% endblock %}